[DEFAULT]
MendEmail=Joshua.Reed@mend.io
MendUserKey=4a7738271601493c8edacb4dcb3b7447cab01ac4d7814128b73cf3fb68d376fa
OrganizationUuid=66c2eff534964fe7a321dac06049ff67a8324ae437064fb79049e0076877b89b
MendUrl=saas.mend.io
OperationMode=FilterProjectsByUpdateTime
DaysToKeep=0
# LastScanDate in MMDDYYYY format (e.g., 01152025 for January 15, 2025)
# LastScanDate=01152025
IncludedApplicationUuids=
ExcludedApplicationUuids=
ExcludedProjectUuids=
ExcludedProjectNamePatterns=
ExcludedProjectLabels=
IncludedProjectLabels=
IncludedProjectTag=
IncludedProjectTagRegexInValue=remoteUrl:.*pilvikala.*
ExcludedProjectTag=
ExcludedProjectTagRegexInValue=
IncludedApplicationLabels=
ExcludedApplicationLabels=
# Application tag filtering (format: key:value)
IncludedApplicationTag=
IncludedApplicationTagRegexInValue=
ExcludedApplicationTag=
ExcludedApplicationTagRegexInValue=
ReportTypes=
SkipReportGeneration=false
DryRun=false
SkipProjectDeletion=True
SkipSummary=false
OutputDir=C:/Users/JoshuaReed/Documents/GitHub/sca-cleanup-tool/Mend/Reports/test
ProjectParallelismLevel=5
ProxyUrl=
