[DEFAULT]

# === Mend Connection ===
MendEmail=
MendUserKey=
OrganizationUuid=
MendUrl=saas.mend.io

# === Operation Window ===
OperationMode=FilterProjectsByUpdateTime
DaysToKeep=0
# LastScanDate in MMDDYYYY format (e.g., 12102025 for December 10, 2025)
LastScanDate=12172025

# === Project Filters ===
ExcludedProjectUuids=
ExcludedProjectNamePatterns=
ExcludedProjectLabels=
IncludedProjectLabels=
IncludedProjectTag=
IncludedProjectTagRegexInValue=
ExcludedProjectTag=
ExcludedprojectTagRegexInValue=

# === Application Filters ===
IncludedApplicationUuids=
ExcludedApplicationUuids=
IncludedApplicationLabels=
ExcludedApplicationLabels=
IncludedApplicationTag=
IncludedApplicationTagRegexInValue=
ExcludedApplicationTag=
ExcludedApplicationTagRegexInValue=

# === Reporting ===
ReportTypes=
SkipReportGeneration=false
OutputDir=C:/Users/JoshuaReed/Documents/GitHub/Platform-Project-Cleanup-Tool/Mend/Reports/test

# === Execution Flags ===
DryRun=false
SkipProjectDeletion=True
SkipSummary=true
ProjectParallelismLevel=5
ProxyUrl=
 
